$cardColor: #ebebd3;

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $cardColor;
	height: 200px;
	width: 200px;
	border-radius: 10%;
	box-shadow: 10px 10px 5px #85223b;
}
.btn {
	background-color: #29eb25;
	width: 100px;
	height: 30px;

	border-radius: 10px;
}
